:root {
  --secondary-font-family: 'Inter', sans-serif;
  --main-font-family: 'Roboto', sans-serif;
  --main-text-color: #737373;
  --secondary-text-color: white;
  --backgarund-button-blue: #0a8bfe;
  --black-text-color: #000000;
  --bg-color-dark: #0e0e33;
}
body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
a {
  text-decoration: 0;
}
ul {
  list-style: none;
}

/* ------------HEADER */
.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
}
.container {
  width: 1190px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font-family);
  color: var(--secondary-text-color);
  font-size: 16px;
}
.header-nav {
  margin-left: auto;
  margin-right: 52px;
}
.header-list {
  display: flex;
  margin-right: 27px;
}
.header-item {
  display: block;
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0px;
}
.logo-img {
  margin-right: 8px;
}
.header-link {
  padding: 35px 0;
  color: var(--secondary-text-color);
  font-size: 13px;
  line-height: 2.31;
}
.header-btn {
  color: var(--secondary-text-color);
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  background-color: transparent;
  border-color: var(--secondary-text-color);
  border-radius: 4px;
  padding: 12px 16px;
}
/* -------------HERO */
.hero {
  padding-top: 240px;
  padding-bottom: 260px;
  background-color: #0d0d33;
  background-image: url(../images/hero.jpg);
  background-size: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  /* max-width: 1440px; */
  margin: 0 auto;
}
.hero-title {
  margin-bottom: 35px;
  font-size: 42px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  max-width: 480px;
}

.hero-text {
  margin-bottom: 35px;
  width: 420px;
  font-size: 11px;
  line-height: 2.73;
  color: var(--secondary-text-color);
}
.hero-link {
  display: inline-block;
  padding: 15px 36px;
  color: var(--secondary-text-color);
  background-color: var(--backgarund-button-blue);
  font-size: 15px;
  line-height: 2;
  border-radius: 4px;
}

.step {
  padding-top: 150px;
  padding-bottom: 150px;
}
.step-title {
  font-size: 41px;
  line-height: 1.22;
  text-align: center;
  color: var(--black-text-color);
  margin-bottom: 35px;
}
.step-text {
  font-size: 12px;
  line-height: 2.5;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 85px;
}

.step-btn {
  font-size: 24px;
  line-height: 1.58;
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

  color: #000000;
}
.active {
  color: var(--backgarund-button-blue);
  background-color: transparent;
  border-color: transparent;
}
.step-filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.step-filter-item:not(:last-child) {
  margin-right: 100px;
}
.step-titles {
  font-size: 20px;
  line-height: 1.4;
  color: var(--black-text-color);
  text-align: left;
  margin-bottom: 35px;
}

.step-item {
  font-size: 16px;
  line-height: 1.88;
}
.step-list {
  display: grid;
  grid-template-columns: 560px 560px;
  grid-gap: 40px;
}
.step-list-item {
  padding: 40px 80px 40px 40px;
  height: 220px;
  border: 0px solid #e8e8e8;
  /*  */
}

.step-bnt {
  display: block;
  width: 174px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 15px 49px;
  font-size: 15px;
  line-height: 2;
  color: var(--secondary-text-color);
  background-color: var(--backgarund-button-blue);
  border-radius: 4px;
}

/* Works */
.works {
  padding-top: 150px;
  padding-bottom: 70px;
  background-image: linear-gradient(to bottom, var(--bg-color-dark) 40%, #fff 30%);
}

.works-title {
  margin-bottom: 80px;
  font-size: 41px;
  line-height: 1.22;

  text-align: center;

  color: var(--secondary-text-color);
}
.works-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-right: 35px;
  padding-left: 55px;
}
/* .works-item {
  width: 170px;
} */
/* .works-item:not(:last-child) {
  margin-right: 140px;
} */
.works-text {
  font-size: 11px;
  line-height: 2.73;

  color: var(--secondary-text-color);
}

.works-numbers {
  display: block;
  font-size: 42px;
  line-height: 1.19;
  margin-bottom: 15px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -15px;
}
.product-item {
  /* padding: 10px; */
  width: 565px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}
.product-wrapper {
  padding: 35px 30px;
}
.product-title {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 1.58;
  color: var(--black-text-color);
}
.product-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--main-text-color);
}

.works-button {
  font-size: 15px;
  line-height: 2;
  color: #ffffff;
  background-color: var(--backgarund-button-blue);
  text-align: center;
  display: block;
  width: 174px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 14px;
  padding-bottom: 16px;
  border: none;
  border-radius: 4px;
}
